text-align: center, left, right, justify
text-decoration: none, overline, line-through, underline
text-transform: uppercase, lowercase, capitalize
text-indent: 50px;
letter-spacing: 3px or -3px;
line-height: 0.8, 1.8;
direction: rtl;
word-spacing: 10px or -5px
text-shadow: 3px 2px red;